// // ========================
// // 🎨 VARIABLES
// // ========================
:root {
  --font-apple: -apple-system, BlinkMacSystemFont, "SF Pro Display", system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

$primary: #118A53;
$secondary: #D4F7E0;



$secondary-blue: #032457 !important;
$primary-color: #fff !important;
$secondary-color: #D4F7E0 !important;
$secondary-green: #118A53;
$toggle-off-red: #d6455d !important;
$toggle-on-green: #118A53 !important;
